<h1>Welcome to Miki's post board</h1>


<main class="posts-container">
  <!-- <button (click)="add()">Add new Post</button> -->
  <app-card class="plus-button">
    <ng-container ngProjectAs="title">Add a new note</ng-container>
    <app-add-new message></app-add-new> <!-- FAB button -->
  </app-card>
  <app-card *ngFor="let post of posts">
    <i class="material-icons delete" delete (click)="delete(post)" title="delete">delete</i>
    <ng-container ngProjectAs="title">{{post.author}}</ng-container>
    <div message>{{post.message}}</div>
  </app-card>
</main>

