<div class="main-container">
  <h2 mat-dialog-title>Post a new note</h2>
  
    <form [formGroup]="noteForm" (ngSubmit)="onSubmit()">
      <mat-form-field color="primary" appearance="outline">
        <mat-label>Author Name</mat-label>
        <input matInput formControlName="author" cdkFocusInitial>
        <mat-error *ngIf="noteForm.get('author').invalid">This field is mandatory</mat-error>
      </mat-form-field>
    
      <mat-form-field color="primary" appearance="outline">
        <mat-label>What would you like to say?</mat-label>
        <textarea matInput formControlName="message"></textarea>
        <mat-error *ngIf="noteForm.get('message').invalid">This field is mandatory</mat-error>
      </mat-form-field>

      <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close>Cancel</button>
        <button mat-button type="submit" [mat-dialog-close]="this.noteForm.invalid" [disabled]="this.noteForm.invalid">Post</button>
      </mat-dialog-actions>
    </form>
  
</div>
